<div class="ml-auto mr-auto text-center" style="width: 25vw; height: auto; margin-top: 10rem;">
    <img rel="prefetch" src="../../assets/images/404.jpg" />
</div>
<div class="text-primary text-center text-bold h1">404 <div class="d-inline-block text-secondary text-theme"
        style="font-weight:100;">It's not here</div>
</div>
<div class="text-center mt-3" (click)="gotoHome()">
    <div class="btn btn-lg bg-theme text-white">
        <span class="iconset2 icon-jolly-roger"></span> &nbsp;Home
    </div><br>
    <div class="btn">
        Report an issue
    </div>
</div>