<h3 class="text-secondary display-4">Feedback</h3>

<div class="m-2">
    <div class="text-center">
        <div class="cursor-pointer text-center d-inline-block m-1" *ngFor="let star of stars; let i = index"
        (mouseover)="hoveringOverIndex = i">
            <div class="h1 iconset2 icon-star text-{{ hoveringOverIndex >= i && !feedbackFlags?.lockRating ? 'warning'  : 'secondary'}}"></div>
        </div>
        <div class="text-center"> {{ feedbackFlags?.lockRating ? '' : stars[hoveringOverIndex]?.label }}</div>
    </div>


    <div class="mb-3">
        <div class="text-bold">Tick the choices</div>
        <div *ngFor="let gops of generalOptions; let i = index">
            <input type="checkbox" id="choice{{i}}" [checked]="gops.checked" [(ngModel)]="gops.checked">&nbsp;<label for="choice{{i}}"> {{ gops.label }}</label>
        </div>
    </div>

    Please share your suggestions or other concerns:
    <textarea class="w-100 border-grey outline-none" [(ngModel)]="text" rows="5" placeholder="Type something..."> </textarea>
    <br>
    {{ text?.length + '/200'}}
    <div class="text-center">
        <button class="btn bg-theme text-white" (click)="saveFeedback()">{{submitButtonText}}</button>
    </div>
    <div class="bg-danger text-white" *ngIf="error">Something went wrong, please try in sometime: {{error | json}}</div>
</div>