.container {
    min-height: 2rem;
    line-height: 1.75rem;
    width: 4rem;
}


.container > div:nth-child(2) {
    width: 2rem;
    background-color: white;
    border: solid 1px #CCC;
    left: 0;
    // animation: ltor 1s linear forwards !important;
    border-radius: 50%;;
}

.container > div:nth-child(1) {
    height: 1rem;
    top: 0.5rem;
    background-color: #CCC;
    left:0;
    transition: background-color 0.5s;
}

.bg-on {
    background-color: green !important;
}

@keyframes ltor {
    0%{
        left: 0;
    }
    100%{
        left: 51%;
    }
}

@keyframes rtol {
    0%{
        left: 50%;
    }
    100%{
        left: -1px;
    }
}

.lotAnim {
    animation: ltor 0.25s linear forwards !important; 
}

.rtolAnim {
    animation: rtol 0.25s linear forwards !important; 
}
