<nav class="navbar navbar-expand-lg bg-light nav-shadow d-flex sh-nav">
  <div class="w-100 d-flex" style="height: auto; flex-wrap: wrap;">

    <div class="navbar-item navbar-item-responsive text-black overflow-none" title="{{user.username}}"
      (click)="routeTo('profile')" (click)="selectedOption = user.username">
      <div class="text-center overflow-hidden" style="height: 100%;">

        <img [src]="dp" class="cursor-pointer dp circle user-default-img"
          [ngClass]="{'filter-greyscale': selectedOption !== user.username}" />
        <div class="text-center m-0 font-0-5-rem cursor-pointer medq-nav-label"
          [ngClass]="{'text-theme': selectedOption === user.username}">{{ user?.username }}</div>
      </div>
    </div>

    <div class="navbar-item navbar-item-responsive text-black" title="Home"
      (click)="selectedOption = 'Home'; routeTo('/home')">
      <div class="cursor-pointer text-center iconset2 icon-size icon-jolly-roger"
        [ngClass]="{'color-theme': selectedOption==='Home'}">
      </div>
      <div class="text-center m-0 font-0-5-rem cursor-pointer medq-nav-label">Home</div>
    </div>

    <div class="navbar-item navbar-item-responsive text-black" title="Gamers around your location"
      (click)="selectedOption = 'Aroundyou'; routeTo('/aroundyou')">
      <div class="cursor-pointer text-center iconset icon-size icon-compass2"
        [ngClass]="{'color-theme': selectedOption==='Aroundyou'}">
      </div>
      <div class="text-center m-0 font-0-5-rem cursor-pointer medq-nav-label">Nearby</div>
    </div>


    <!-- search bar and suggestions-->
    <div class="mt-1 mob-search-flex ml-1">
      <div class="navbar-item navbar-item-responsive text-black mobile-view-only" title="Search User"
        (click)="modalOpen(searchTemplate, 'lg'); userSearch=''">
        <div class="cursor-pointer text-center iconset icon-size icon-search">
        </div>
      </div>

      <div class="pc-view-only">
        <sh-suggestions [placeholder]="'Search by name, username, or email'" [icon]="'search'"
          [template]="searchSuggestionTemplate" (inputChanged)="searchThis($event)"
          [showSuggestions]="showUserSuggestions"></sh-suggestions>
        <ng-template #searchSuggestionTemplate>
          <!-- search template -->
          <div class="position-relative border-grey" style="height: 3.5rem;"
            *ngIf="searchSuggestions.length === 0 && userSearch.length > 0 && !noUserFound">
            <div class="position-absolute search-icon-container">
              <div style="animation: rotate-left 1s infinite linear;">
                <!-- <loader2 [type]=""></loader2> -->
                <span class="iconset icon-search"></span>
              </div>
            </div>
          </div>

          <!-- data template -->
          <div class="hover-bg-grey p-3" *ngFor="let suggestion of searchSuggestions" (click)="gotoProfile(suggestion)">
            <div class="d-flex">
              <img class="m-1 circle user-default-img" *ngIf="suggestion?.dp" [src]="domain.dp+suggestion?.dp"
                style="width: 2.5rem; height: 2.5rem;" />
              <div style="width: calc(100% - 3rem);">
                <div class="text-truncate cursor-pointer ">&nbsp;{{ suggestion?.username }}</div>
                <div class="text-theme" [ngClass]="{'mt-2': !suggestion?.username }">
                  &nbsp;{{ (suggestion?.fname + ' ' + suggestion?.lname) | titlecase }}</div>
              </div>
            </div>
          </div>

          <!-- not found template -->
          <div class="class text-center text-secondary cursor-pointer" *ngIf="noUserFound">No users found</div>
          <div class="class text-center hover-underline text-primary cursor-pointer"
            *ngIf="searchSuggestions?.length > 5">
            See All</div>
        </ng-template>
      </div>
    </div>


    <div class="navbar-item navbar-item-responsive text-black text-center position-relative" title="Notifications"
      (click)="navOptionSelected('notif')">
      <div class="cursor-pointer" [ngClass]="{'color-theme': activeOption==='notif'}">
        <span class="iconset icon-size icon-bell"></span>
        <span class="badge badge-danger" style="margin-left: -0.25rem;"
          *ngIf="alerts.notifications !==0">{{alerts.notifications}}</span>
      </div>
      <div class="text-center m-0 font-0-5-rem cursor-pointer">Notifications</div>

      <div class="notifications-container bg-white position-absolute mt-3 rounded std-box-shadow"
        *ngIf="activeOption==='notif'">

        <div class="bg-lite text-bold" style="height: 3rem;">
          <label style="line-height: 3;">New Notifications
            <span class="badge badge-pill badge-danger">{{alerts.notifications}}</span>
          </label>
          <div class="btn btn-default h-100 float-right border-gray" (click)="markAllNotificationsRead()"
            title="Mark all as read" style="border-left: solid 1px #CCC; border-radius: 0;">
            <span class="iconset icon-eye h4"></span>
          </div>
        </div>

        <!-- <loader2 [type]="3" *ngIf="navbarFlags.notificationsLoading"></loader2> -->
        <div class="text-center font-italic text-secondary" *ngIf="notifications?.length <= 0">No Notifications</div>

        <div class="position-relative" style="max-height: 20rem; overflow: auto;" (scroll)="notifScroll($event)">
          <sh-notifications [notifications]="notifications" (close)="closeNotificationOverlay($event)"
            (notificationClicked)="markAsRead($event)">
          </sh-notifications>
        </div>
        <div class="bg-lite font-0-5-rem text-theme text-bold hover-underline cursor-pointer p-2"
          (click)="navOptionSelected('all-notif')"
          style="border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;"> Show All
        </div>
      </div>

    </div>

    <div class="navbar-item text-black text-center position-relative" title="Messages"
      (click)="navOptionSelected('msg')">
      <div class="cursor-pointer" [ngClass]="{'color-theme': activeOption==='msg'}">
        <span class="iconset icon-size icon-bubbles3"></span>
        <span class="badge badge-danger" style="margin-left: -0.25rem;"
          *ngIf="alerts.messages !== 0">{{alerts.messages}}</span>
      </div>
      <div class="text-center m-0 font-0-5-rem cursor-pointer">Messages</div>


      <div class="message-container bg-white position-absolute mt-3 std-box-shadow rounded"
        *ngIf="activeOption==='msg'">
        <div class="bg-lite text-bold" style="height: 3rem;">
          <label style="line-height: 3;">New Messages <span
              class="badge badge-pill badge-danger">{{alerts.messages}}</span></label>
        </div>

        <div class="text-center font-italic text-secondary" *ngIf="navbarFlags.messagelistLoading===null ">No messages
          yet</div>
        <div class="position-relative w-100" *ngIf="navbarFlags.messagelistLoading">
          <loader2 [type]="3"></loader2><br>
        </div>
        <div>
        </div>
        <div class="user-message-row hover-bg-grey cursor-pointer m-1"
          [ngClass]="{'bg-theme-lite': !msg.seen && msg.lastSender != user._id}"
          *ngFor="let msg of messages; let i = index" (click)="routeToMessaging(msg._id)">

          <div class="row m-1 text-left">
            <div class="col-3 text-center">
              <img class="circle dp-big mt-2" [src]="domain?.dp+msg?.dp" />
            </div>

            <div class="col-9">
              <span class="text-theme hover-underline font-weight-bold">
                {{msg?.username }}
              </span>

              <div class="text-secondary mr-2 text-truncate overflow-hidden" style="width: 11rem; white-space: nowrap;">
                {{ msg.text }}
              </div>
              <div class="badge badge-lite">{{msg.time | ago: true : true }}</div>
            </div>
          </div>
        </div>


        <div class="bg-lite font-0-5-rem text-theme text-bold hover-underline cursor-pointer p-2"
          (click)="routeToMessaging()" style="border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;"> Show All
        </div>
      </div>

    </div>

    <div class="navbar-item position-relative">
      <div class="cursor-pointer font-0-5-rem mt-3 text-center" (click)="navOptionSelected('userop')"><span
          class="iconset icon-dots-horizontal-triple h6 mt-3"></span></div>


      <div class="position-absolute bg-white position-relative user-options rounded border-grey"
        *ngIf="activeOption==='userop'">
        <div class="hover-bg-grey p-2 cursor-pointer" (click)="routeTo('manage')"><span
            class="iconset icon-cog mr-2"></span>Manage profile</div>
        <div class="hover-bg-grey p-2 cursor-pointer" (click)="routeTo('feedback')"><span
            class="iconset2 icon-star mr-2"></span>Feedback</div>
        <div class="hover-bg-grey p-2 cursor-pointer" (click)="routeTo('about')"><span
            class="iconset2 icon-jolly-roger mr-2"></span>About</div>
        <div class="hover-bg-grey p-2 cursor-pointer" (click)="showFeedback(feedbackTemplate)"><span
            class="iconset icon-switch mr-2"></span>Logout</div>
      </div>
    </div>

  </div>
</nav>







<!-- navbar bottom-->

<nav class="mob-navbar-display position-absolute w-100 d-block bg-lite d-flex d-wrap-flex">

  <div class="navbar-item text-black" title="Home" (click)="selectedOption = 'Home'; routeTo('/home')">
    <div class="cursor-pointer text-center iconset h3 icon-home" [ngClass]="{'color-theme': selectedOption==='Home'}">
    </div>
    <!-- <div class="text-center m-0 font-0-5-rem cursor-pointer medq-nav-label">Home</div> -->
  </div>


  <div class="navbar-item text-black" title="Gamers around you"
    (click)="selectedOption = 'Aroundyou'; routeTo('/aroundyou')">
    <div class="cursor-pointer text-center iconset h3 icon-compass2"
      [ngClass]="{'color-theme': selectedOption==='Aroundyou'}">
    </div>
  </div>


  <div class="navbar-item text-black overflow-none" title="{{user.fname}}" (click)="routeTo('profile')"
    (click)="selectedOption = user.fname">
    <div class="text-center overflow-hidden" style="height: 100%;">
      <img [src]="dp" class="cursor-pointer dp circle user-default-img"
        [ngClass]="{'filter-greyscale': selectedOption!==user.fname}" />
      <!-- <div class="text-center m-0 font-0-5-rem cursor-pointer medq-nav-label" [ngClass]="{'text-theme': selectedOption===user.fname}">{{ user.username ? user.username : user.fname }}</div> -->
    </div>
  </div>


  <div class="navbar-item text-black text-center position-relative" title="Notifications"
    (click)="navOptionSelected('notif')">
    <div class="cursor-pointer" [ngClass]="{'color-theme': activeOption === 'notif'}">
      <span class="iconset h3 icon-bell"></span>
      <span class="badge badge-danger" style="margin-left: -0.25rem;"
        *ngIf="alerts.notifications !==0">{{alerts.notifications}}</span>
    </div>

  </div>

</nav>

<!-- navbar bottom ends-->

<ng-template #nowplayingTemplate let-dismiss="dismiss">
  <div class="modal-header bg-theme">
    <h4 class="modal-title text-white" id="modal-basic-title">What are you playing?</h4>
    <button type="button" class="close border-none text-white" aria-label="Close" (click)="dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body p-0 border-none">
    <div class="text-center overflow-hidden" style="height: 10rem;" *ngIf="gameImage?.length > 0">
      <img [src]="gameImage" alt="Selected game has no image" class="w-100" style="margin-top:-2rem;" />
    </div>
    <div class="bg-white" [perfectScrollbar]="{suppressScrollX: true}">
      <form [formGroup]="nowplayingForm" (ngSubmit)="saveNowPlaying()" action="" method="POST" autocomplete="off">
        <div class="m-3">
          <div class="d-flex flex-wrap">
            <div class="min-width-flex flex-6">
              <div class="m-1 text-small">
                What are you playing today?<span class="text-danger">*</span>
              </div>
              <div class="m-1">
                <sh-suggestions [icon]="'search'" [placeholder]="'Type a game name...'"
                  (inputChanged)="searchGame($event)" [inProgress]="searchingGame" [template]="gameTemplate"
                  [searchInput]="searchedGame" #gameSuggestComp></sh-suggestions>

                <ng-template class="border-grey bg-white border-grey" #gameTemplate>
                  <div class="text-truncate hover-bg-grey p-2 cursor-pointer" *ngFor="let game of gameSuggestions"
                    (click)="gameSelect(game); gameImage = game.bgLink">{{ game.label }}</div>
                </ng-template>
              </div>
            </div>

            <div class="min-width-flex flex-6">
              <div class="text-small">
                Username to help readers connect, if multiplayer:
              </div>
              <div>
                <input type="text" formControlName="username" class="form form-control m-1"
                  placeholder="alterbeast119" />
              </div>
            </div>
          </div>



          <div class="row mt-3 d-none">
            <div class="col-6 audience text-small">
              Share the above information with: <br>
              <input type="radio" id="all" name="audience" formControlName="audience" value="0" checked disabled />
              &nbsp;
              <label for="all">Everyone</label><br>
              <input type="radio" id="following" name="audience" formControlName="audience" value="1" disabled /> &nbsp;
              <label for="following">Who I follow</label><br>
              <input type="radio" id="followers" name="audience" formControlName="audience" value="2" disabled /> &nbsp;
              <label for="followers">Who follow me</label><br>
            </div>
          </div>


          <div class="d-flex flex-wrap mt-3">
            <div class="min-width-flex flex-6 text-small">
              <div>Select a console your're playing on:</div>
              <div>
                <div (click)="showConsoleList = !showConsoleList">
                  <input type="text" class="form form-control d-inline-block bg-white"
                    placeholder="Select a gaming console (optional)" disabled formControlName="console"
                    style="width: calc(100% - 3rem);" formControlName="console" />
                  <div class="btn btn-default d-inline-block">
                    <div style="transform: rotate(90deg);"><span class="iconset icon-chevron-right"></span></div>
                  </div>
                </div>
                <div class="bg-white position-absolute z-nav w-100" style="max-height: 40vh; overflow:auto;"
                  *ngIf="showConsoleList">
                  <div class="p-2 hover-bg-grey cursor-pointer" *ngFor="let console of consoles"
                    (click)="selectConsole(console)">
                    <h5><span class="iconset icon-{{console.icon}}"></span> {{console.id | gameGenre: true}}
                    </h5>
                  </div>
                </div>
              </div>
            </div>


            <div class="min-width-flex flex-6 text-small">
              <div>Estimated play duration in hours</div>
              <div>
                <input type="number" formControlName="estplaytime" min="1" max="12" class="form form-control"
                  placeholder="in hours">
              </div>
            </div>
          </div>

          <div class="d-flex flex-wrap mt-3">
            <div class="min-width-flex flex-6 text-small">
              <div>Add a Description</div>
              <div>
                <textarea class="form form-control" formControlName="desc"
                  placeholder="Say something about your play/game/party"></textarea>
              </div>
            </div>
            <div class="min-width-flex flex-6">
              <div (click)="pasteLink()" class="text-theme hover-underline cursor-pointer text-small">Paste a stream
                link:</div>
              <div>
                <input type="text" class="form form-control" formControlName="stream"
                  placeholder="http://www.youtube.com/some-stream-url" />
              </div>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12">
              <input type="checkbox" id="haveroomid" formControlName="hasPrivateRoom" /> &nbsp;
              <label class="text-small" for="haveroomid">I have a personal Room ID / Server IP <span
                  class="text-secondary font-italic">multiplayer / co-op</span>
              </label>
            </div>
          </div>

          <div *ngIf="nowplayingForm.get('hasPrivateRoom')?.value" class="mt-1">
            <div class="d-flex flex-wrap">
              <div class="min-width-flex flex-6">
                <div class="text-small">Server or Room ID</div>
                <div>
                  <input type="text" class="form form-control" formControlName="roomid" autocomplete="off"
                    placeholder="Room ID / 10.10.652.36" />
                </div>
              </div>
              <div class="text-secondary min-width-flex flex-6">
                <div class="text-small">Server password (Spawnhouse do not save any passwords)</div>
                <div>
                  <input type="password" class="form form-control password-box" formControlName="password"
                    autocomplete="off" placeholder="Room/server password (optional)" />

                  <div class="bg-black text-white text-small rounded p-1 mt-1">
                    Please keep this tab open to keep the password available for users who'd like to join your party
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 text-small">Send password to first "n" people who ask (1-150):
              </div>
            </div>

            <div class="row">
              <div class="col-12"> <input type="number" formControlName="maxconnections" min="0" max="150"
                  class="form form-control" placeholder=" 0 = infinity" /></div>
            </div>
          </div>

          <div class="mt-3">
            <button type="submit" class="btn bg-theme text-white float-right m-1"
              (click)="dismiss('Cross click');">Broadcast &nbsp;<span class="iconset icon-paper-plane"></span></button>
          </div>
        </div>
      </form>
      <button class="btn float-right border-grey float-right m-1" (click)="dismiss('Cross click');">Cancel</button>
    </div>
  </div>
</ng-template>


<ng-template #feedbackTemplate let-dismiss="dismiss">
  <sh-feedback [submitButtonText]="'Submit and Logout'" (aftersave)="logout(); dismiss('close click')"></sh-feedback>
  <div>
    <button class="btn btn-danger w-25 float-right" (click)="logout(); dismiss('close click');">Logout</button>
    <button class="btn btn-default w-25 float-right" (click)="dismiss('close click');">Cancel</button>
  </div>
</ng-template>





<!-- search template -->
<ng-template #searchTemplate let-dismiss="dismiss">
  <sh-suggestions [placeholder]="'Search by name, username, or email'" [icon]="'search'"
    [template]="searchSuggestionTemplate" (inputChanged)="searchThis($event)" [showSuggestions]="showUserSuggestions"
    [searchInput]="userSearch">
  </sh-suggestions>
  <ng-template #searchSuggestionTemplate>
    <!-- search template -->
    <div class="position-relative border-grey" style="height: 3.5rem;"
      *ngIf="searchSuggestions.length === 0 && userSearch.length > 0 && !noUserFound">
      <div class="position-absolute search-icon-container">
        <div style="animation: rotate-left 1s infinite linear;">
          <!-- <loader2 [type]=""></loader2> -->
          <span class="iconset icon-search"></span>
        </div>
      </div>
    </div>

    <!-- data sub-template -->
    <div class="hover-bg-grey p-3" *ngFor="let suggestion of searchSuggestions"
      (click)="gotoProfile(suggestion); dismiss('close')">
      <div class="d-flex">
        <img class="m-1 circle user-default-img" [src]="suggestion?.dpaddress | async"
          style="width: 2.5rem; height: 2.5rem;" />
        <div style="width: calc(100% - 3rem);">
          <div class="text-truncate cursor-pointer ">&nbsp;{{ suggestion?.username }}</div>
          <div class="text-theme" [ngClass]="{'mt-2': !suggestion?.username }">
            &nbsp;{{ (suggestion?.fname + ' ' + suggestion?.lname) | titlecase }}</div>
        </div>
      </div>
    </div>

    <!-- not found template -->
    <div class="class text-center text-secondary cursor-pointer" *ngIf="noUserFound">No users found</div>
    <div class="class text-center hover-underline text-primary cursor-pointer" *ngIf="searchSuggestions?.length > 5">
      See All</div>
  </ng-template>
</ng-template>