@import '../../assets/variables/variables.scss';
a {
    cursor: pointer;
}

.ml-5rem {
    margin-left: 5rem;
}

nav {
    background-color: smokewhite;
}

.search-suggestions {
    width: 20rem;
    background-color: white;
    z-index: 9;
}

.search-icon-container {
    height: 3rem;
    width: 3rem;
    left: calc(50% - 1rem);
    animation: rotate-right 1s infinite linear;
}

.ml-5rem {
    margin-left: 9.25rem;
}
.w-15rem {
    width: 15rem;
}

.bg-busy {
    background-color: red;
}

.icon-size {
    font-size: 1.25rem;
    // margin-left: 3rem;
}

.dp {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.setting-op:hover {
    background-color: #CCC;
}

.nav-shadow {
    box-shadow: 0 0 0.5rem 0 #CCC;
    z-index: 4;
}

.font-0-5-rem {
    font-size: 0.75rem;
}

.search-input {
    outline: none;
    height: 2.5rem;
}

.search-container {
    border-radius: 3px;
}

.edit-game-container {
    width: 50%;
    transform: translate(25%, 0);
    box-shadow: 0 0 5px 0 #000;
}

.audience > label {
    margin: 0; padding: 0;
    cursor: pointer;
}

/// new nav

nav {
    height: 3rem;
}

.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}