@import "../../assets/variables/variables.scss";

nav {
    padding: 0;
}
a {
    cursor: pointer;
}

.ml-5rem {
    margin-left: 5rem;
}

nav {
    background-color: smokewhite;
    width: 100vw;
}

.search-suggestions {
    width: 20rem;
    background-color: white;
    z-index: 9;
}

.search-icon-container {
    height: 3rem;
    width: 3rem;
    left: calc(50% - 1rem);
    animation: rotate-right 1s infinite linear;
}

.ml-5rem {
    margin-left: 9.25rem;
}
.w-15rem {
    width: 15rem;
}

.bg-busy {
    background-color: red;
}

.icon-size {
    font-size: 1.25rem;
    // margin-left: 3rem;
}

.dp {
    height: 2rem;
    width: 2rem;
}

.setting-op:hover {
    background-color: #ccc;
}

.nav-shadow {
    box-shadow: 0 0 0.5rem 0 #ccc;
    z-index: 4;
}

.font-0-5-rem {
    font-size: 0.75rem;
}

.search-input {
    outline: none;
    height: 2.5rem;
}

.search-container {
    border-radius: 3px;
}

.edit-game-container {
    width: 50%;
    max-height: 90%;
    transform: translate(50%, 2%);
    box-shadow: 0 0 5px 0 #000;
}

.audience > label {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/// new nav

nav {
    height: 3rem;
}

.nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mob-search-flex {
    flex: 45%;
}

.navbar-item-responsive {
    display: block;
}

.mob-navbar-display {
    display: none;
    height: 0;
    width: 0;
    overflow: hidden;
}

.notifications-container {
    width: 20rem;
    right: -6rem;
}

.notifications-container-responsive {
    width: 100vw;
    right: 0;
    bottom: 5rem;
}

.message-container {
    width: 20rem;
    right: -3rem;
}

@media only screen and (max-width: 800px) {
    .mob-search-flex {
        flex: 2%;
    }
    .mob-d-none {
        display: none;
    }

    .mobile-view-only {
        display: block !important;
    }

    .pc-view-only {
        display: none !important;
    }
}

@media only screen and (min-width: 800px) {
    .mobile-view-only {
        display: none !important;
    }

    .pc-view-only {
        display: block !important;
    }
}

.navbar-item {
    flex: 5%;
}

.message-container::before,
.notifications-container::before {
    content: "";
    position: absolute;
    background-color: $litegrey;
    width: 1rem;
    height: 1rem;
    top: -0.5rem;
    right: 40%;
    transform: rotate(45deg);
}

.user-message-row {
    height: auto;
}

.save-password-qtip-text {
    word-wrap: break-word;
    display: none;
    top: calc(-100% - 5rem);
    right: 0;
    opacity: 0.85;
}

.save-password-qtip-text::after {
    content: "";
    position: absolute;
    background-color: black;
    height: 1rem;
    width: 1rem;
    transform: rotate(45deg);
    right: 1rem;
    bottom: -0.5rem;
}

.password-box:focus + .save-password-qtip-text {
    display: block;
}

.min-width-flex {
    min-width: 300px; // 448 px
    // margin: 0.5rem;
}

.user-options {
    width: 20rem;
    z-index: 4;
    top: calc(100% + 0.5rem);
    right: 0.5rem;
    width: 12rem;
}

.user-options::before {
    content: "";
    height: 1rem;
    width: 1rem;
    background-color: white;
    position: absolute;
    transform: rotate(45deg);
    right: 0.5rem;
    top: -0.5rem;
    z-index: -1;
}