<div (click)="routeToLogin()" class="mt-1" style="height: 3.25rem;">
    <div class="ml-2 text-bold text-theme d-inline-block display-5" style="font-size: 1.75rem;">
        <div class="d-inline-block" style="height: 3.25rem; width: 3.25rem;">
            <svg version="1.1" id="sketch" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;"
                xml:space="preserve">
                <path class="st0" d="M223.4,468.1c32.4,23.2,44.8,126.4-7.4,159.4c-42.7,27-108.6-0.5-147.2-61.6c-42.1-66.6-18-156.4,7.4-159.4
	c17.8-2.2,27.3,39.4,70,55.8C184.4,476.9,203.1,453.6,223.4,468.1z" />
                <path class="st0" d="M851.1,609.7c-8.7-39,50.7-124.1,111.7-114c49.8,8.3,80.6,72.8,68.7,144c-12.9,77.7-90.7,128.6-111.7,114
	c-14.7-10.3,5.9-47.6-15.1-88.3C886,629.1,856.6,634,851.1,609.7z" />
                <path class="st1" d="M915.3,209.5c15,31.9,29.9,63.7,44.9,95.6c12.5-14,41.2-50,48.8-104.5c5.3-38.2-2-69.3-7.5-86.6
	c-50.4,12.5-100.8,24.9-151.2,37.4C872,170.7,893.6,190.1,915.3,209.5z" />
                <path class="st2" d="M897.2,187.5c5.6,4.2,11.2,8.3,16.8,12.5c24.2-27.3,48.4-54.5,72.6-81.8c-40.6,12.2-81.1,24.3-121.7,36.5
	C875.7,165.7,886.5,176.6,897.2,187.5z" />
                <path class="st3" d="M215.2,217.2c-15,31.9-29.9,63.7-44.9,95.6c-12.5-14-41.2-50-48.8-104.5c-5.3-38.2,2-69.3,7.5-86.6
	c50.4,12.5,100.8,24.9,151.2,37.4C258.5,178.4,236.9,197.8,215.2,217.2z" />
                <path class="st2" d="M231.2,194.9c-6,4.3-11.9,8.6-17.9,12.8c-25.8-28-51.6-56.1-77.4-84.1c43.2,12.5,86.4,25,129.6,37.5
	C254.1,172.4,242.6,183.7,231.2,194.9z" />
                <path class="st0" d="M981.2,460c0,231-186.4,418.3-416.3,418.3S148.7,691,148.7,460c0-107.2,36.9-277.2,130-303.7
	c8.4-2.4,13.4-2.5,39.6-2.8c140.2-1.5,195.2,0.7,260.6,0c64.1-0.7,114.4-3.9,217.2-2.1c34.3,0.6,38.4,1.1,44,2.6
	C933.6,178.9,981.2,346.5,981.2,460z" />
                <g>
                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="188.737" y1="494.8671"
                        x2="428.8627" y2="494.8671">
                        <stop offset="0" style="stop-color:#3DDEED" />
                        <stop offset="1" style="stop-color:#3DDEED;stop-opacity:0" />
                    </linearGradient>
                    <path class="st4" d="M218.7,448.8c0-88.6,20-229,70.3-250.9c0.2-0.1,3-0.6,2.9-1.1c0-0.7-5.4-1-11.5-1.2c-10.2-0.5-14.2,0-18.5,1.2
		c-1,0.3-1.9,0.6-2.9,1.1c-50.3,21.9-70.3,162.3-70.3,250.9c0,190.9,100.8,345.6,225.1,345.6c5,0,10-0.3,15-0.8
		C311.5,781.8,218.7,631.9,218.7,448.8z" />
                </g>
                <path class="st5" d="M563.9,459.3c0,0,14.9,21.3,25.3,37.2c18.7,28.6,28,42.9,28.7,52.6c0.9,11.9-3.5,15.5-22.4,53.6
	c-22.3,45.1-24.8,57.5-32.8,57.6c-8.1,0.1-10.6-12.6-33.6-56c-20.1-38-24.7-40.6-24-52c0.4-6.8,11.9-23.9,34.9-58
	C549.2,480.8,563.9,459.3,563.9,459.3L563.9,459.3z" />
                <ellipse class="st6" cx="358.3" cy="456.4" rx="199.1" ry="199.2" />
                <ellipse class="st6" cx="771.5" cy="450.5" rx="201" ry="201.2" />
                <path class="st7" d="M360,371c-48.2,0-87.4,38.3-87.4,85.5s39.1,85.5,87.4,85.5c48.2,0,87.4-38.3,87.4-85.5S408.3,371,360,371z
	 M360,494.9c-21.7,0-39.3-17.2-39.3-38.4c0-21.2,17.6-38.4,39.3-38.4c21.7,0,39.3,17.2,39.3,38.4C399.3,477.7,381.7,494.9,360,494.9
	z" />
                <path class="st7" d="M783.2,371c-48.2,0-87.4,38.3-87.4,85.5s39.1,85.5,87.4,85.5c48.2,0,87.4-38.3,87.4-85.5S831.5,371,783.2,371z
	 M783.2,494.9c-21.7,0-39.3-17.2-39.3-38.4c0-21.2,17.6-38.4,39.3-38.4c21.7,0,39.3,17.2,39.3,38.4
	C822.5,477.7,804.9,494.9,783.2,494.9z" />
                <path class="st8" d="M780.3,1001.8c-7.3,10.1-34.1,9.2-50.4-2.2c-16.2-11.3-19-30.9-26.5-29.9c-8.5,1.2-5.6,26.9-21.2,35
	c-7.8,4-18.2,2.6-25.1-1.8c-13.1-8.4-11.3-26.1-18.1-26.8c-6.8-0.7-8.8,17.1-22.9,25.7c-12.2,7.4-31.6,6.9-37.9-1.1
	c-16-20.2,25.3-124.4,94.2-128.4C745.6,868,796.2,979.8,780.3,1001.8z" />
                <path class="st8" d="M331.9,1001.8c7.3,10.1,34.1,9.2,50.4-2.2c16.2-11.3,19-30.9,26.5-29.9c8.5,1.2,5.6,26.9,21.2,35
	c7.8,4,18.2,2.6,25.1-1.8c13.1-8.4,11.3-26.1,18.1-26.8c6.8-0.7,8.8,17.1,22.9,25.7c12.2,7.4,31.6,6.9,37.9-1.1
	c16-20.2-25.3-124.4-94.2-128.4C366.7,868,316,979.8,331.9,1001.8z" />
            </svg>
        </div>
        SpawnHouse
    </div>
    <div class="display-5 btn btn-primary float-right">Sign Up/In</div>
</div>
<div class="cover-picture position-relative std-box-shadow">
    <img [src]="usercover | async" class="w-100 h-100 default-cover" style="left:0;" />

    <div *ngIf="profileFlags.loadingCover" class="bg-white text-black position-absolute t-0" style="left:50%">
        Loading...
    </div>
    <div class="w-100 h-100 position-absolute t-0">
        <div style="right: 0; top:0; height: 1.5rem; width: 1.5rem;"
            class="position-absolute bg-white circle cursor-pointer" (click)="copyProfileUrl()">&nbsp;<span
                class="iconset icon-share2"></span></div>

        <div class="dp circle position-absolute b-0 overflow-hidden">
            <img [src]="userdp | async" class="w-100 h-100 user-default-img" />
        </div>
    </div>
</div>

<div class="mt-3 flex-container">
    <div class="side-info bg-white flex-4">
        <div class="follow-list border-none text-black m-3">
            <h3 class="text-secondary text-center"><strong>{{user?.username || ''}}</strong></h3>
            <h4 class="text-secondary text-center display-6"><strong>{{(user?.fname || '')+ ' '+(user?.lname ||
                    '')}}</strong>
                <h6 class="d-inline display-6" *ngIf="user?.gamerType">, {{ user?.gamerType | gamerType }}</h6>
            </h4>

            <h4 class="medq-d-block">
                <div class="text-secondary text-center mt-1 cursor-pointer cursor-pointer">
                    <h4 class="hover-underline w-50 float-right">
                        {{user?.followdata?.followerCount || 0}} Followers </h4>
                    <h4 class="hover-underline">
                        {{user?.followdata?.followingCount || 0}}
                        Following</h4>
                </div>
            </h4>
            <hr>
            <div class="text-center text-secondary text-bold font-italic" *ngIf="profileFlags.loadingGamingInfo">
                <loader2 [type]="0"></loader2>
                <br>
                Loading Gamedata
            </div>

            <div class="rounded border-grey text-center"
                *ngIf="!user.nowplaying && isUserProfile && !profileFlags.loadingGamingInfo" (click)="openGamingInfo()">
                <div class="p-1 hover-bg cursor-pointer"><span class="iconset2 icon-add h1 text-theme"></span> <span
                        class="position-relative ml-2" style="top: -0.65rem;">Now Playing</span></div>
            </div>


            <div class="rounded border-grey text-center mt-1"
                *ngIf="(!user?.gamedata || (user?.gamedata?.fav?.length === 0 && user?.gamedata?.genres?.length === 0)) && isUserProfile">
                <div class="p-2 hover-bg cursor-pointer"><span class="iconset2 icon-heart-o h2 text-theme"></span> <span
                        class="position-relative ml-2" style="top: -0.55rem;">My Preferences</span></div>
            </div>

            <div class="d-flex mt-3" style="font-size: 3rem;" *ngIf="user?.gamedata?.playerType">
                <div class="ml-auto text-center mr-auto iconset icon-{{type | playertype: true}} text-{{type | playertype : false : true}}"
                    *ngFor="let type of user?.gamedata?.playerType"
                    title="{{type | playertype : false : false : true}}">
                    <div style="line-height: 0; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"
                        class="text-small">{{ type | playertype | titlecase }}</div>
                </div>
            </div>
            <div class="p-2"></div>
            <div class="mt-3" *ngIf="user?.gamedata">
                <div *ngIf="user?.gamedata?.fav?.length > 0">
                    <div>
                        <div style="font-size: 1.5rem;" class="d-inline-block"><span
                                class="iconset icon-favorite text-secondary mr-1"></span></div>
                        <h4 class="text-secondary d-inline-block">Favourites</h4>
                    </div>
                    <div class="text-theme cursor-pointer" style="word-wrap: break-word;"
                        [title]="'See who all are playing '+fav.label " [ngClass]="{'d-inline mr-2': fav.value === ''}"
                        *ngFor="let fav of tempFavGamesArray">
                        <span *ngIf="fav.value !== ''" class="iconset icon-favorite"></span>
                        {{ fav.label }}
                        <span *ngIf="fav.value === ''" class="text-black">,</span>
                    </div>
                    <label class="text-theme hover-underline cursor-pointer badge"
                        *ngIf="user?.gamedata?.fav?.length > 5 && tempFavGamesArray.length === 5"
                        (click)="showAllFavourites();"> +{{ user?.gamedata?.fav?.length - 5}} more</label>
                </div>

                <div *ngIf="user?.gamedata?.genres?.length > 0" class="mt-3">
                    <div style="font-size: 1.5rem;" class="d-inline-block"><span
                            class="iconset icon-tree text-secondary mr-1"></span></div>
                    <h4 class="text-secondary d-inline-block">Genres</h4>
                    <h5>
                        <span class="badge text-white bg-{{bg[i]}} mr-1"
                            *ngFor="let genre of user?.gamedata?.genres; let i = index"> {{ genre | gameGenre }}</span>
                    </h5>
                </div>
            </div>

            <div class="mt-3" *ngIf="user?.bio || user?.quote || user?.website">
                <h4 class="text-secondary d-inline-block"><span class="iconset icon-user"></span>&nbsp;About</h4>
                <div>{{user?.bio}}</div>
                <div class="text-primary hover-underline cursor-pointer" (click)="gotoWebsite(user?.website)">
                    {{user?.website}}</div>
                <label class="font-italic text-secondary mt-3">{{ user?.quote }}</label>
            </div>
        </div>

        <hr *ngIf="user?.gamedata">
    </div>

    <div class="bg-white ml-1 flex-8 mt-3">
        <div class="text-secondary text-center mt-1 cursor-pointer cursor-pointer medq-d-none d-flex"
            style="justify-content: space-evenly;">
            <h3 class="hover-bg d-inline-block rounded">
                {{user?.followdata?.followingCount}} Following
            </h3>

            <h3 class="hover-bg d-inline-block">
                {{user?.followdata?.followerCount}} Followers
            </h3>
        </div>


        <div class="text-center rounded mt-3">
            <div class="d-inline-block" style="height: 5rem; width: 5rem;">
                <svg version="1.1" id="sketch" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px" viewBox="0 0 1080 1080" style="enable-background:new 0 0 1080 1080;"
                    xml:space="preserve">
                    <style type="text/css">
                        
                    </style>
                    <path class="st0" d="M223.4,468.1c32.4,23.2,44.8,126.4-7.4,159.4c-42.7,27-108.6-0.5-147.2-61.6c-42.1-66.6-18-156.4,7.4-159.4
        c17.8-2.2,27.3,39.4,70,55.8C184.4,476.9,203.1,453.6,223.4,468.1z" />
                    <path class="st0" d="M851.1,609.7c-8.7-39,50.7-124.1,111.7-114c49.8,8.3,80.6,72.8,68.7,144c-12.9,77.7-90.7,128.6-111.7,114
        c-14.7-10.3,5.9-47.6-15.1-88.3C886,629.1,856.6,634,851.1,609.7z" />
                    <path class="st1" d="M915.3,209.5c15,31.9,29.9,63.7,44.9,95.6c12.5-14,41.2-50,48.8-104.5c5.3-38.2-2-69.3-7.5-86.6
        c-50.4,12.5-100.8,24.9-151.2,37.4C872,170.7,893.6,190.1,915.3,209.5z" />
                    <path class="st2" d="M897.2,187.5c5.6,4.2,11.2,8.3,16.8,12.5c24.2-27.3,48.4-54.5,72.6-81.8c-40.6,12.2-81.1,24.3-121.7,36.5
        C875.7,165.7,886.5,176.6,897.2,187.5z" />
                    <path class="st3" d="M215.2,217.2c-15,31.9-29.9,63.7-44.9,95.6c-12.5-14-41.2-50-48.8-104.5c-5.3-38.2,2-69.3,7.5-86.6
        c50.4,12.5,100.8,24.9,151.2,37.4C258.5,178.4,236.9,197.8,215.2,217.2z" />
                    <path class="st2" d="M231.2,194.9c-6,4.3-11.9,8.6-17.9,12.8c-25.8-28-51.6-56.1-77.4-84.1c43.2,12.5,86.4,25,129.6,37.5
        C254.1,172.4,242.6,183.7,231.2,194.9z" />
                    <path class="st0" d="M981.2,460c0,231-186.4,418.3-416.3,418.3S148.7,691,148.7,460c0-107.2,36.9-277.2,130-303.7
        c8.4-2.4,13.4-2.5,39.6-2.8c140.2-1.5,195.2,0.7,260.6,0c64.1-0.7,114.4-3.9,217.2-2.1c34.3,0.6,38.4,1.1,44,2.6
        C933.6,178.9,981.2,346.5,981.2,460z" />
                    <g>
                        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="188.737" y1="494.8671"
                            x2="428.8627" y2="494.8671">
                            <stop offset="0" style="stop-color:#3DDEED" />
                            <stop offset="1" style="stop-color:#3DDEED;stop-opacity:0" />
                        </linearGradient>
                        <path class="st4" d="M218.7,448.8c0-88.6,20-229,70.3-250.9c0.2-0.1,3-0.6,2.9-1.1c0-0.7-5.4-1-11.5-1.2c-10.2-0.5-14.2,0-18.5,1.2
            c-1,0.3-1.9,0.6-2.9,1.1c-50.3,21.9-70.3,162.3-70.3,250.9c0,190.9,100.8,345.6,225.1,345.6c5,0,10-0.3,15-0.8
            C311.5,781.8,218.7,631.9,218.7,448.8z" />
                    </g>
                    <path class="st5" d="M563.9,459.3c0,0,14.9,21.3,25.3,37.2c18.7,28.6,28,42.9,28.7,52.6c0.9,11.9-3.5,15.5-22.4,53.6
        c-22.3,45.1-24.8,57.5-32.8,57.6c-8.1,0.1-10.6-12.6-33.6-56c-20.1-38-24.7-40.6-24-52c0.4-6.8,11.9-23.9,34.9-58
        C549.2,480.8,563.9,459.3,563.9,459.3L563.9,459.3z" />
                    <ellipse class="st6" cx="358.3" cy="456.4" rx="199.1" ry="199.2" />
                    <ellipse class="st6" cx="771.5" cy="450.5" rx="201" ry="201.2" />
                    <path class="st7" d="M360,371c-48.2,0-87.4,38.3-87.4,85.5s39.1,85.5,87.4,85.5c48.2,0,87.4-38.3,87.4-85.5S408.3,371,360,371z
         M360,494.9c-21.7,0-39.3-17.2-39.3-38.4c0-21.2,17.6-38.4,39.3-38.4c21.7,0,39.3,17.2,39.3,38.4C399.3,477.7,381.7,494.9,360,494.9
        z" />
                    <path class="st7" d="M783.2,371c-48.2,0-87.4,38.3-87.4,85.5s39.1,85.5,87.4,85.5c48.2,0,87.4-38.3,87.4-85.5S831.5,371,783.2,371z
         M783.2,494.9c-21.7,0-39.3-17.2-39.3-38.4c0-21.2,17.6-38.4,39.3-38.4c21.7,0,39.3,17.2,39.3,38.4
        C822.5,477.7,804.9,494.9,783.2,494.9z" />
                    <path class="st8" d="M780.3,1001.8c-7.3,10.1-34.1,9.2-50.4-2.2c-16.2-11.3-19-30.9-26.5-29.9c-8.5,1.2-5.6,26.9-21.2,35
        c-7.8,4-18.2,2.6-25.1-1.8c-13.1-8.4-11.3-26.1-18.1-26.8c-6.8-0.7-8.8,17.1-22.9,25.7c-12.2,7.4-31.6,6.9-37.9-1.1
        c-16-20.2,25.3-124.4,94.2-128.4C745.6,868,796.2,979.8,780.3,1001.8z" />
                    <path class="st8" d="M331.9,1001.8c7.3,10.1,34.1,9.2,50.4-2.2c16.2-11.3,19-30.9,26.5-29.9c8.5,1.2,5.6,26.9,21.2,35
        c7.8,4,18.2,2.6,25.1-1.8c13.1-8.4,11.3-26.1,18.1-26.8c6.8-0.7,8.8,17.1,22.9,25.7c12.2,7.4,31.6,6.9,37.9-1.1
        c16-20.2-25.3-124.4-94.2-128.4C366.7,868,316,979.8,331.9,1001.8z" />
                </svg>
            </div>
            <div class="display-5"><span (click)="routeToLogin()" class="text-theme hover-underline cursor-pointer">1-click Sign up</span> to see <strong>{{user.username+'\'s'}}</strong> full profile</div>
        </div>

    </div>
</div>