<div class="position-relative">
    <div class="rounded" style="min-height: 2.5rem; background-color:#fff1f2    ;">
        <div class="chip-container m-1 bg-white" *ngFor="let item of selected; let i = index">




            <div class="float-left border-grey text-center mr-1 circle like-container cursor-pointer"
            (click)="setFavoriteByIndex(i)"
            title="Mark as favourite"
            *ngIf="config?.showFav"
            [ngClass]="{'bg-danger': !item?.value?.isFav,  'bg-grey': item?.value?.isFav}">
                <div class="iconset icon-favorite text-white mt-1"></div>
            </div>
            
            <div class="float-left mt-1">{{ item.label }}</div>
            

            <div class="float-right text-center ml-3 cursor-pointer" (click)="crossClicked(i)" *ngIf="config?.showCross || true">
                <span class="text-secondary h4">×</span>
                <!-- <span class="iconset2 text-danger icon-cross" style="font-size: 0.75rem;"></span> -->
            </div>

        </div>
        <input type="text" [(ngModel)]="searchword" placeholder="{{config?.placeholder || 'Type a game name...'}}" (keyup)="newQuery($event)" class="form outline-none d-inline-block ml-1 outline-none border-none" style="word-break: break-all; height: 2.5rem; background-color: whitesmoke;" [disabled]="isLimitReached">
    </div>
    <label class="text-secondary float-right" *ngIf="max">{{(selected?.length || 0)+'/'+max }}</label>


    <div class="suggestions border-grey position-absolute w-100 text-center text-white z-nav" *ngIf="searchword.length > 2 && items.length === 0" style="background-color: grey;">
        Searching
    </div>

    <div tabindex="0" class="suggestions border-grey position-absolute bg-white z-nav" *ngIf="items.length > 0">
        <div class="p-3" *ngFor="let item of items"(click)="pushToSelected(item)">{{ item.label }} <span class="text-secondary font-italic" *ngIf="item?.subtext">{{item?.subtext}}</span>
        </div>
    </div>
</div>