<div class="bg-white position-fixed z-nav minimessage-container rounded" *ngIf="true">
    <h4 class="p-2 bg-theme text-white">Messaging <span class="iconset icon-cross text-white float-right h6 cursor-pointer mt-1" (click)="closeOverlay();"></span></h4>

    <sh-mediatext></sh-mediatext>
    <!-- <div class="border-grey">
        <div class="message-container m-3 border-none outline-none" contenteditable="true" ></div>
    </div> -->
    <div class="btn bg-theme text-white float-right w-50"><span class="iconset icon-paper-plane mr-3"></span></div>
  </div>