@import '../../assets/variables/variables.scss';

.loader {
    height: 100vh;
    overflow: none;
}

.loader-center {
    top:calc(50% - 3rem); left: calc(50% - 3rem);
    
}

.cover-picture {
    background-color: #CCC;
    height: auto;
}

.cover-picture > img {
    width: 100vw;
    height: auto;
}

.user-dp-info {
    left: 10%;
    bottom: 0;
}
.dp-size {
    height: 9rem; width: 9rem;
    border-radius: 50%;
    background-color: #06C;
    overflow: hidden;
    // background-image: url('./goku.jpg');
    background-size: contain;

}
.dp-size:hover > div {
    height: 50%;
    transition: height 0.5s;
}
.dp-edit {
    position: relative;
    width: 9rem; height: 0;
    background-color: $theme-color;
    opacity: 0.75;
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    bottom: 0;
}

.dp-image {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
}

.user-name {
    top: -3.2rem;
    text-shadow: 2px 2px 2px black;
}
.user-name > label {
    font-size: 3rem;
    top: 4.5rem;
}
.user-name > label:hover {
    text-decoration: underline;
}

// loader classes
.div-center {
    transform: translate(-50%, -50%);
    top: 50%; left: 50%;
    position: absolute;
}

.feeds {
   // margin-left: 12.5vw;
    min-height: 1rem;
}

.side-info {
}

.side-info > div {
}

.media-tabs {
    background: linear-gradient(0deg, #CCC, white);
}

.media-category {
    flex: 1;
    text-align: center;
    padding: 0.5rem;
}

.media-category-selected {
    background-color: $theme-color;
    color: white;
}

.online-dot {
    height: 0.75rem; width: 0.75rem;
    border-radius: 50%;
    bottom: 1.75rem; right: -2rem;
    position: absolute;
}

.add-media {
    height: 7rem;
    width: 7rem;
    border-radius: 1rem;
    font-size: 5rem;
    color: rgb(253, 200, 200);
    font-weight: 900;
    border: none;
    background-color: transparent;
    outline: none ;
}

.media-content {
    height: 112px;
    width: 112px;
    border: solid 1px grey;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: calc( 100vh - 3.5rem); width: 100vw;
    top: 3.5rem;
}

.recent-followers {
    height: 3rem; width: 3rem;
    border-radius: 50%;
    border: solid 1px black;
}

.recent-followers-container {
    flex-wrap: wrap;
}

.edit-cover-photo {
}

.message-add-container {
    height: 3rem;
    width: 20rem;
    bottom: 1rem; right: 0;
}

.font-2rem {
    font-size: 2rem;
}
.t-0-5rem {
    top: 0.5rem;
}
.animate-width {
    animation: anim-width-auto 0.25s forwards linear;
}
@keyframes anim-width-auto {
    0% { width: 0px;}
    100% {width: 7rem;}
}

.edit-game-container {
    // transform: translate(0%, 50%);
    margin-left: 40%;
    top: 10%;
    box-shadow: 0 0 5px 0 #000;
}

.btn {
    border-radius: 0 !important ;
}