@media screen and (max-width: 1080px) {
    .medq-np-width {
        width: 100%;
    }

    .medq-d-flex {
        display: block;
    }

    .medq-d-none {
        display: none;
    }

    .medq-d-block {
        display: block;
    }
}