<div class="text-white bg-secondary font-bold text-small ml-auto mr-auto" style="max-width: 800px;"
    *ngIf="!(!np || np?.length === 0)">Play History</div>
<div class="ml-auto mr-auto" style="max-width: 800px;">
    <div class="mt-2 bg-white m-2 overflow-hidden" @fade *ngFor="let usernp of np; let i = index">
        <div class="d-flex d-wrap-flex m-2">
            <div class="circle bg-theme text-center m-1 icons-container overflow-hidden"
                style="transform: translate(-47deg);">
                <img class="h-100 w-100 circle user-default-img" [src]="domain?.dp+usernp?.userdata?.dp" />
            </div>
            <div style="width: calc(100% - 4rem);">
                <h6 class="m-0 text-theme hover-underline">
                    <span class="cursor-pointer" (click)="routeToProfile(usernp?.userid)">{{ usernp?.userdata?.username
                        }}</span>
                    <span class="iconset2 icon-live text-danger text-small" title="still playing"
                        *ngIf="usernp?.stillplaying"></span>
                    <span class="text-secondary text-small" *ngIf="!usernp?.stillplaying"> was playing</span>


                    <div class="d-inline-block float-right mt-1 cursor-pointer position-relative"
                        *ngIf="usernp?.userid === currentuserid" (dblclick)="deleteNpPost(usernp._id, i)"
                        (click)="confirmDeletePost(confirmDeletePostTemplate, usernp._id, i)">
                        <span class="text-secondary delete-desc">×</span>
                        <!-- <span class="iconset icon-dots-horizontal-triple text-secondary"></span>
                            <div class="bg-white bg-hover-lite border-grey text-small p-1 hover-bg-lite position-absolute" style="width: 5rem; right: 0;">
                                <span class="iconset icon-cross"></span> &nbsp; Delete</div> -->
                    </div>

                </h6>
                <div class="m-0 overflow-hidden" style="text-overflow: ellipsis; white-space: nowrap;">
                    {{ usernp?.game }}
                </div>
                <!-- icons options -->
                <div class="m-0">
                    <a class="text-theme m-1" target="__blank" [href]="usernp?.stream" *ngIf="usernp?.stream"
                        title="Goto Stream" (click)="addPlays(usernp?._id, i)">
                        <div class="circle bg-danger text-white d-inline-block text-center icons-container">
                            <div class="iconset icon-tv mt-1"></div>
                        </div>
                    </a>

                    <div class="circle bg-success d-inline-block icons-container text-center m-1"
                        *ngIf="usernp?.maxconnections">
                        <div class="iconset2 icon-game-server text-white mt-1" title="accepting players on server">
                        </div>

                    </div>
                </div>
                <!-- icons options ends -->
            </div>
        </div>

        <div class="mb-2 display-6 mt-1" *ngIf="usernp?.desc"> {{(usernp?.desc | slice:0:75)}} <span
                class="text-theme hover-underline cursor-pointer" *ngIf="usernp?.desc?.length > 75"
                (click)="routeToPost(usernp?._id)">... more</span>
        </div>
        <div class="text-center overflow-hidden" style="height: 10rem;" *ngIf="usernp?.imageLink?.length > 0">
            <img [src]="usernp?.imageLink" alt="Selected game has no image" class="w-100" style="margin-top:-5%;" />
        </div>
        <div class="text-secondary text-small">
            {{usernp?.time | ago: true: true }}
        </div>


        <div class="text-secondary">
            <div class="d-inline-block ml-2" [title]="usernp?.plays+' users played your stream'" *ngIf="usernp?.plays">
                <span class="iconset icon-tv"></span> {{usernp?.plays}}
            </div>

            <div class="d-inline-block ml-2" *ngIf="usernp?.noOfLikes"><span
                    class="cursor-pointer hover-underline ml-1 badge badge-default"
                    (click)="getWhoLiked(usernp?._id, i)">{{ usernp?.noOfLikes || '' }} Likes</span>

                <div class="position-absolute overflow-hidden p-1 bg-black text-white text-small" style="max-height: 12rem; z-index: 1;" *ngIf="mouseOverNp === i">
                    Likers: <span class="iconset2 icon-cross float-right mr-3 cursor-pointer"
                        (click)="mouseOverNp=-1"></span>
                    <loader2 [type]="2" *ngIf="homeflags.loadingWhoLiked"></loader2>
                    <div class="p-2" style="width: 12rem; text-overflow: ellipsis;"
                        *ngFor="let likeruser of usernp?.likerusers">
                        <div class="text-bold">{{ likeruser?.username }}</div>
                        <div>{{ likeruser?.fname+ ' '+likeruser?.lname }}</div>
                    </div>
                </div>
            </div>

            <div class="d-inline-block ml-2" *ngIf="usernp?.noOfComments"><span
                    class="cursor-pointer hover-underline ml-1 badge badge-default">
                    {{usernp?.noOfComments}} Comments </span></div>
        </div>

        <div class="user-reactions mt-2 cursor-pointer" style="height: 2rem;">
            <div class="row">
                <div class="col-6 text-center hover-bg" (click)="likeNp(usernp, i)">
                    <span class="iconset2 text-danger h4 cursor-pointer ml-1"
                        [ngClass]="{'icon-heart-o': !usernp.likedByUser, 'icon-heart': usernp.likedByUser}"
                        [@like]="usernp.likedByUser ? 'like' : 'unlike'"></span>
                </div>

                <div class="col-6 text-center hover-bg" (click)="routeToPost(usernp?._id)">
                    <span class="iconset icon-bubble2 h4 text-black ml-3 cursor-pointer"
                        (click)="routeToPost(usernp?._id)"></span>
                </div>
            </div>




        </div>
    </div>

    <loader2 [type]="2" *ngIf="!homeflags.feedsEnd && !homeflags.loadMoreFeeds"></loader2>


    <div *ngIf="!np || np?.length === 0">
        <h1 class="text-secondary">Getting started</h1>
        <ul>
            <li>Update username and info: <span class="text-theme hover-underline cursor-pointer text-bold" (click)="routeToProfile('manage')">Update Profile </span> > Personal</li>
            <li>Let's update what you're playing from <span class="text-theme hover-underline cursor-pointer text-bold" (click)="routeToProfile('create')">Now Playing</span> </li>
            <li><span class="text-theme hover-underline cursor-pointer text-bold" (click)="routeToProfile('manage')">Set up your <var>favourites</var></span> games so it's easier for others to see what all you like to play, and
                connect</li>
        </ul>
    </div>
</div>


<ng-template #confirmDeletePostTemplate let-dismiss="dismiss">
    <div class="modal-body text-center">
        Are you sure you want to permanently delete this post?

        <div class="mt-3">
            <button class="btn btn-default w-50" (click)="dismiss('Save item')">Cancel</button>
            <button class="btn btn-danger w-50" (click)="deleteNpPost(); dismiss('Save item')">Delete</button>
        </div>
    </div>
</ng-template>