<div class="position-absolute h-100 overflow-hidden bg-white login-container" style="width: 100vw; top:0; left:0;">
    <div class="position-relative h-100" style="top:0; left:0">
        
        <h3 class="text-theme mt-3 text-center"><span
                class="iconset2 icon-jolly-roger mr-2"></span>Spawnhouse <span class="text-grey">beta</span></h3>

        <div class="text-center">
            <h5>Find and connect with gamers around you</h5>
            <div class="mt-3 w-50 ml-auto mr-auto">Spawnhouse is the place to find like minded gamers around you.
                Nothing is more fun than relations with common interests</div>
        </div>
        <br><br><br>
        <!-- login signup module-->
        <div class="rounded text-center" style="padding: 3rem; padding-top: 0;">
            <!-- <div class="iconset2 icon-jolly-roger text-theme p-0 m-0" style="font-size: 2rem;"></div> -->

            <div *ngIf="!verficationProgress">
                <!-- <h6 class="text-secondary">sign up or</h6> -->
                <div class="d-inline-block ml-auto mr-auto">
                    <div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true"></div>
                    <input type="checkbox" [(ngModel)]="rememberMe" id="remember-me"> &nbsp; <label class="m-0 p-0"
                        for="remember-me">Remember Me</label>
                </div>
            </div>
            <div class="hover-underline text-theme cursor-pointer text-small"
                (click)="showEula();loginFlags.showAcceptTnCButton = false;">Terms & Conditions</div>
            <div *ngIf="verficationProgress">Loading... Please wait</div>
            <div *ngIf="errorText" class="bg-danger text-white">Something went wrong... {{ errorText | slice: 0:20 }}... Please try again after sometime</div>
        </div>
    </div>
</div>


<ng-template #eulaTemplate let-dismiss="dismiss">
    <div class="display-2 text-center text-secondary float-animation-class">{{eula.greetText}}</div>
    <div class="display-4 text-center text-secondary float-animation-class" style="font-size: 2rem;">It's great to have you onboard :)</div>
    
    <div class="text-center mt-3 bg-black text-white" *ngIf="!eula.eula">Getting EULA, Please Wait...</div>
    
    <div class="p-3 overflow-y-auto mt-3" style="word-wrap: break-word; word-break: break-all; max-height: 50vh;"
        [innerHTML]="eula?.eula"></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" *ngIf="loginFlags.showAcceptTnCButton"
            (click)="dismiss('Save click'); updateTnCAcceptance(); routeToProfile();">I Accept the Terms, Conditions and
            the Cookie usage mentioned as above</button>
        <button type="button" class="btn btn-outline-dark" *ngIf="!loginFlags.showAcceptTnCButton"
            (click)="dismiss('Save click')">Dimiss</button>
    </div>
</ng-template>