<div class="d-flex position-relative">
    <input type="text" class="form form-control" [(ngModel)]="searchInput" [placeholder]="placeholder"
    [ngClass]="{'space-for-icon border-right-none': icon}" (keyup)="emitSearchWord()" />

    <div class="suggestions bg-white position-absolute z-nav">
        <ng-container [ngTemplateOutlet]="template"> </ng-container>
    </div>

    <span *ngIf="icon" class="iconset bg-white border-grey pr-1 text-secondary"
    style="line-height: 1.5; border-left: none; border-top-right-radius: 5px;border-bottom-right-radius: 5px;">
    <label class="icon-{{icon}} mt-1 m-0"></label>
    </span>
</div>
<div class="bg-secondary text-white text-center" *ngIf="inProgress">Searching...</div>

