<div class="text-center overflow-hidden game-img-container" *ngIf="gameImage?.length > 0">
    <img [src]="gameImage" alt="Selected game has no image" class="w-100"/>
</div>
<div class="float-right" *ngIf="gameInfo?.rating">
    <span class="badge badge-dark badge-pill" title="Ratings as per global users"><span class="iconset2 icon-star text-warning"></span> {{gameInfo?.rating}} / 5</span>
    <span class="badge badge-dark badge-pill ml-1" *ngIf="gameInfo?.playtime !== 0">~{{gameInfo.playtime}}h gameplay</span>
</div>

<div class="mt-2 text-secondary display-5 m-1" *ngIf="!gameImage">What are you playing today?</div>
<!-- <div class="m-1">Autofill previous sessions:
    <span class="badge badge-primary cursor-pointer">PUBG</span>
</div>  -->
<form class="m-1" [formGroup]="nowplayingForm" (ngSubmit)="saveNowPlaying()" action="" method="POST" autocomplete="off">
    <div class="m-3">
        <div class="d-flex flex-wrap">
            <div class="min-width-flex flex-6">
                <div class="m-1 text-small">
                    What are you playing today?<span class="text-danger">*</span>
                </div>
                <div class="m-1">
                    <sh-suggestions [icon]="'search'" [placeholder]="'Type a game name...'"
                        (inputChanged)="searchGame($event)" [inProgress]="npflags.searchingGame" [template]="gameTemplate"
                        [searchInput]="searchedGame" #gameSuggestComp>
                    </sh-suggestions>

                    <ng-template #gameTemplate>
                        <div class="border-grey bg-white border-grey" *ngIf="gameSuggestions?.length > 0">
                            <div class="text-truncate hover-bg-grey p-2 cursor-pointer" *ngFor="let game of gameSuggestions"
                            (click)="gameSelect(game); gameImage = game.bgLink">{{ game.label }}</div>
                        </div>
                        
                    </ng-template>
                </div>
            </div>

            <div class="min-width-flex flex-6">
                <div class="text-small">
                    Username to help readers connect, if multiplayer:
                </div>
                <div>
                    <input type="text" formControlName="username" class="form form-control m-1"
                        placeholder="alterbeast119" />
                </div>
            </div>
        </div>



        <div class="row mt-3 d-none">
            <div class="col-6 audience text-small">
                Share the above information with: <br>
                <input type="radio" id="all" name="audience" formControlName="audience" value="0" checked disabled />
                &nbsp;
                <label for="all">Everyone</label><br>
                <input type="radio" id="following" name="audience" formControlName="audience" value="1" disabled />
                &nbsp;
                <label for="following">Who I follow</label><br>
                <input type="radio" id="followers" name="audience" formControlName="audience" value="2" disabled />
                &nbsp;
                <label for="followers">Who follow me</label><br>
            </div>
        </div>


        <div class="d-flex flex-wrap mt-3">
            <div class="min-width-flex flex-6 text-small">
                <div>Select a console your're playing on:</div>
                <div class="position-relative">
                    <div (click)="showConsoleList = !showConsoleList">
                        <input type="text" class="form form-control d-inline-block bg-white"
                            placeholder="Select a gaming console (optional)" disabled formControlName="console"
                            style="width: calc(100% - 3rem);" formControlName="console" />
                        <div class="btn btn-default d-inline-block">
                            <div style="transform: rotate(90deg);"><span class="iconset icon-chevron-right"></span>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white border-grey position-absolute z-nav w-100" style="max-height: 40vh; overflow:auto;"
                        *ngIf="showConsoleList">
                        <div class="p-2 hover-bg-grey cursor-pointer" *ngFor="let console of consoles"
                            (click)="selectConsole(console)">
                            <h5><span class="iconset icon-{{console.icon}}"></span> {{console.id | gameGenre:
                                true}}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>


            <div class="min-width-flex flex-6 text-small">
                <div>Estimated play duration in hours</div>
                <div>
                    <input type="number" formControlName="estplaytime" min="1" max="12" class="form form-control"
                        placeholder="in hours">
                </div>
            </div>
        </div>

        <div class="d-flex flex-wrap mt-3">
            <div class="min-width-flex flex-6 text-small p-1">
                <div>Add a Description</div>
                <div>
                    <textarea class="form form-control" formControlName="desc"
                        placeholder="Say something about your play/game/party"></textarea>
                </div>
            </div>
            <div class="min-width-flex flex-6">
                <div (click)="pasteLink()" class="text-theme hover-underline cursor-pointer text-small">Paste a
                    stream
                    link:</div>
                <div>
                    <input type="text" class="form form-control" formControlName="stream"
                        placeholder="http://www.youtube.com/some-stream-url" />
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <input type="checkbox" id="haveroomid" formControlName="hasPrivateRoom" /> &nbsp;
                <label class="text-small" for="haveroomid">I have a personal Room ID / Server IP <span
                        class="text-secondary font-italic">multiplayer / co-op</span>
                </label>
            </div>
        </div>

        <div *ngIf="nowplayingForm.get('hasPrivateRoom')?.value" class="mt-1">
            <div class="d-flex flex-wrap">
                <div class="min-width-flex flex-6">
                    <div class="text-small">Server or Room ID</div>
                    <div>
                        <input type="text" class="form form-control" formControlName="roomid" autocomplete="off"
                            placeholder="Room ID / 10.10.652.36" />
                    </div>
                </div>
                <div class="text-secondary min-width-flex flex-6">
                    <div class="text-small">Server password (Spawnhouse do not save any passwords)</div>
                    <div>
                        <input type="password" class="form form-control password-box" formControlName="password"
                            autocomplete="off" placeholder="Room/server password (optional)" />

                        <div class="bg-black text-white text-small rounded p-1 mt-1">
                            Please keep this tab open to keep the password available for users who'd like to
                            join your party
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-small">Send password to first "n" people who ask (1-150):
                </div>
            </div>

            <div class="row">
                <div class="col-12"> <input type="number" formControlName="maxconnections" min="0" max="150"
                        class="form form-control" placeholder=" 0 = infinity" /></div>
            </div>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn bg-theme text-white float-right m-1">Broadcast &nbsp;<span
                    class="iconset icon-paper-plane"></span></button>
        </div>
    </div>
</form>