
<div class="theme-half w-100 bg-theme">
    <div class="text-center d-inline-block w-50" style="font-size: 10rem; color: rgb(2, 90, 223);">
        <div class="iconset icon-spoon-knife"> 
        </div><div class="h1">Eat</div>
    </div>

    <div class="text-center d-inline-block w-50" style="font-size: 10rem; color: rgb(2, 90, 223);">
        <div class="iconset icon-sleep"></div>
        <div class="h1">Sleep</div>
    </div>
</div>


<div class="text-center d-inline-block w-50"
style="font-size: 10rem; color: rgb(236, 236, 236);"><div class="iconset icon-game-controller"></div> <div class="h1">Game</div></div>
<!-- <span class="iconset icon-shield" style="font-size: 10rem; color: rgb(236, 236, 236); margin-left: 5%;"><br>
</span> -->
<div class="text-center d-inline-block w-50"
style="font-size: 10rem; color: rgb(236, 236, 236);"><div class="iconset icon-history"></div> <div class="h1">Repeat</div></div>


<div class="form-div position-absolute bg-white w-25 rounded text-center std-box-shadow  overflow-hidden">

    <div *ngIf="!success">
        <span class="iconset icon-sh text-theme" style="font-size: 5rem;"></span>
        <span class="iconset icon-lock text-warning position-absolute" style="font-size: 2rem; top: 15%; left: 50%;"></span>
        
        <h4 class="text-secondary mt-2">Password Recovery</h4>
        <div class="ml-2 mr-2">
            <div class="row">
                <div class="col-12 text-left">
                    New Password <span class="text-secondary font-italic">(min. 6 characters)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="password" class="form form-control" [(ngModel)]="password" placeholder="New password" (keyup)="passwordMatch = confirm === password && password?.length > 5" />
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 text-left">
                    Confirm Password
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="password" class="form form-control" id="confirm" (keyup)="passwordMatch = confirm === password && password !== ''" [(ngModel)]="confirm" placeholder="Confirm password" />
                </div>
            </div>

            <div class="row mt-3" style="height: 3rem;">
                <div class="col-12">
                    <div class="position-absolute"  [ngClass]="{'go-right': passwordMatch, 'go-left-reverse': !passwordMatch}" style="width: 2rem;">
                        <div class="bg-success position-absolute w-100" style="height: 0.25rem; top: 0.9rem; left: -1rem;"></div>
                        <span class="iconset icon-wrench-right h3 float-right text-success"></span>
                    </div>

                    <div class="mt-2 position-absolute" [ngClass]="{'go-left': passwordMatch, 'go-right-reverse': !passwordMatch}" style="width: 2rem; right: 0;">
                        <div class="bg-secondary position-absolute w-100" style="height: 0.25rem; top: 0.9rem; right:-1rem;"></div>
                        <span class="iconset icon-wrench-left h3 float-left text-secondary"></span>
                    </div>
                    <!-- <div class="badge badge-success" [ngClass]="{'badge-danger': !(password === confirm && password !== '')}"> Passwords {{ password === confirm && password !== '' ? 'match' : 'don\'t match' }}</div> -->
                </div>
            </div>
        </div>
        <div class="d-flex mt-3">
                <div class="btn btn-default w-50"style="border-radius: 0;">Contact Support</div>
            <div class="col-6 m-0 p-0">
                <div class="btn bg-theme w-100 text-white" style="border-radius: 0;" [ngClass]="{'bg-secondary': !passwordMatch || submitting}" (click)="submitNewPassword()"> {{ submitting ? 'Submitting ... ' : 'Submit' }}</div>
            </div>
        </div>
    </div>

    <div class="text-center" *ngIf="success">
		<div class="iconset icon-confused2 text-warning" style="font-size: 7rem;"></div>
		<h3> MISSION PASSED<br> Respect + </h3>
	    <div class="mt-3 btn bg-theme text-white w-100" (click)="gotoLogin()">Goto Login</div>
	</div>




</div>

<!-- <div class="position-absolute badge text-center ml-0" style="left: 40%;">Copyright Spawnhouse Ltd. 2020-21 Certified</div> -->
