.theme-half {
    height: 50vh;
}

.form-div {
    margin-left: 37.5%;
    top: 25%;
}

.go-left {
    animation: growWidth 0.25s forwards;
}

.go-left-reverse {
    animation: growWidth 0.25s alternate-reverse;
}

.go-right {
    animation: growWgrowWidthLesser 0.25s forwards;
}
.go-right-reverse {
    animation: growWgrowWidthLesser 0.25s alternate-reverse;
}


@keyframes growWidth {
    0% {
        width: 2rem;
    }
    100% {
        width: 50%;
    }
}

@keyframes growWgrowWidthLesser {
    0% {
        width: 2rem;
    }
    100% {
        width: 49%;
    }
}