.message-area {
    overflow: auto;
    max-height: 67vh;
    // border-top-right-radius: 3rem;
}

.box-shadow-local {
    box-shadow: -0.125rem 0.125rem 0.125rem 0 gray !important;
}

.send-message-area {
    bottom: 0;
    height: 7rem;
}

.send-message-area > input {
    margin: 0.5rem;
    border-radius: 1rem;
    resize: none;
    width: 90%;
}

.selected-chat {
    background-color: rgb(0, 117, 235);
    padding: 0;
    margin: 0;
}

.other-user-bubble {
    // background: linear-gradient(90deg,#06F, rgb(139, 1, 194));
    height: auto;
    max-width: 50%;
    width: fit-content;
    color: white;
}
.bg-other-user {
    background: linear-gradient(90deg, #06f, rgb(139, 1, 194));
}

.other-user-bubble > div {
}

.user-bubble {
    // background-color: rgb(233, 232, 232);
    text-align: right;
    max-width: 50%;
    width: fit-content;
    margin-left: auto;
    margin-right: 1rem;
}

.user-bubble > span {
    max-width: 50%;
    width: fit-content;
    background-color: rgb(221, 159, 159);
    float: right;
}

.new-message-indicator {
    height: 0.5rem;
    width: 0.5rem;
}

.bg-gray-gradient {
    background: linear-gradient(rgb(245, 245, 245), white);
}

.bg-blue-purple {
    // background: linear-gradient(#06F, rgb(139, 1, 194));
}

.send-button {
    height: 5rem;
    width: 5rem;
}

.typing-area {
    height: 4rem;
    border-radius: 3rem;
}

.typing-area > input {
    border-radius: 18% !important;
}

.conversations-container {
    flex: 0 0 33.33333%;
}

.chat-thread-container {
    flex: 0 0 66.66666%;
}

.back-button {
    display: none;
}

@media screen and (max-width: 1000px) {
    .conversations-container {
        flex: 0 0 calc(100% - 1rem);
    }

    .chat-thread-container {
        flex: 0 0 0;
    }

    .back-button {
        display: block;
    }
}

@keyframes flex-expand {
    0% {
       flex: 0 0 0;
    }
    100% {
        flex: 0 0 calc(100% - 1rem);
    }
}

@keyframes flex-expand-reverse {

    0% {
        flex: 0 0 calc(100% - 1rem);
    }
    100% {
        flex: 0 0 0;
     }
}

.flex-expand {
    animation: flex-expand 0.25s forwards linear;
}

.flex-expand-reverse {
    animation: flex-expand-reverse 0.25s forwards linear;
}

.w-65 {
    width: 46% !important;
}