.message-area {
    overflow: auto; height: calc(100vh - 10rem); border-top-right-radius: 3rem;
}

.box-shadow-local {
    box-shadow: -0.125rem 0.125rem 0.125rem 0 gray !important;
}

.send-message-area {
    bottom: 0;
    height: 7rem;
}

.send-message-area > input {
    margin: 0.5rem;
    border-radius: 1rem;
    resize: none;
    width: 90%;
}

.selected-chat {
    background-color: rgb(0, 117, 235);
    padding: 0; margin: 0;
}

.other-user-bubble {
    // background: linear-gradient(90deg,#06F, rgb(139, 1, 194));
    height: auto;
    max-width: 50%;
    width: fit-content;
    color: white;
}
.bg-other-user {
    background: linear-gradient(90deg,#06F, rgb(139, 1, 194));
}

.other-user-bubble > div {
}

.user-bubble {
    background-color: rgb(233, 232, 232);
    text-align: right;
    max-width: 50%;
    width: fit-content;
    margin-left: auto;
    margin-right: 1rem;
}

.user-bubble > span {
    max-width: 50%;
    width: fit-content;
    background-color: rgb(221, 159, 159);
    float: right;
}

.new-message-indicator {
    height: 0.5rem;
    width: 0.5rem;
}


.bg-gray-gradient {
    background: linear-gradient(rgb(245, 245, 245), white);
}

.bg-blue-purple {
    background: linear-gradient(#06F, rgb(139, 1, 194));
}

.send-button {
    height: 5rem;
    width: 5rem;
}

.typing-area {
    height: 4rem;
    border-radius: 3rem;
}