<h5 class="text-center p-2"></h5>
<h3 class="text-secondary text-center mt-3" *ngIf="chats.length === 0">You have no messages
    <h5 class="text-black mt-3">Goto a user's profile and click <span class="iconset icon-bubbles3"></span> Message</h5>
</h3>
<div class="text-center" *ngIf="messageFlags.convosLoading">
    <loader2 [type]="2"></loader2>
</div>

<!-- <button class="btn btn-primary" (click)="sendSocketMessage()">Send Socket MEssage</button> -->

<div class="w-100 row" style="overflow: hidden !important; max-height: calc( 100vh - 6rem);" *ngIf="chats.length > 0">
    <div class="col-3"  [perfectScrollbar]="{suppressScrollX: true}" style="overflow: auto; max-height: 87vh;">

        <!-- <div class="text-center text-primary mb-3 hover-underline cursor-pointer">New Message</div> -->
        <div class="m-2">
            <input type="text" class="form form-control m1 circle font-italic" placeholder="Search" />
        </div>
        <div class="text-center" *ngIf="messageFlags.convosLoading">
            <loader2 [type]="0"></loader2>
            <br>
            Loading Conversations
        </div>
        
        <div class="font-italic text-secondary text-center" *ngIf="chats.length===0">no conversations</div>
            <div class="message-user rounded m-2 std-box-shadow cursor-pointer" [perfectScrollbar]="{suppressScrollX: true}" [ngClass]="{'bg-theme text-white std-box-shadow position-relative': selectedChat === chat.id, 'bg-gray-gradient hover-bg': selectedChat !== chat.id}" *ngFor="let chat of chats; let i = index" (click)="selectedChat = chat.id; getMessagesFromId(chat.id); convoIndex = i;">
                <div class="row">
                    <div class="col-4">
                        <img class="circle m-2 h-100" [src]="chat?.dpLink | async" style="max-height: 4rem;" *ngIf="chat?.dpLink | async" />
                        <div class="dp-big bg-grey text-black circle m-2" *ngIf="!(chat?.dpLink | async)">
                            <div class="iconset icon-player h2 ml-3 mt-2" style="transform: translate(-45deg);">
                            </div>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="mt-2">{{chat?.username | async}}<span class="float-right mr-3 font-italic">{{chat.time | ago}}</span>
                            <div class="row">
                                <div class="col-10">
                                    <div class="font-italic overflow-hidden " style="font-size: 0.75rem; text-overflow: ellipsis;" [ngClass]="{'text-white': selectedChat === chat.id}">{{chat.text}}
                                    </div>
                                </div>    
                                <div class="col-2 float-right">
                                <div class="bg-danger new-message-indicator circle mt-2 d-inline-block float-right mr-3" *ngIf="unseenConvos.includes(chat?.id)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-7 position-relative">
        <div class="message-area w-100 position-relative" [perfectScrollbar]="{suppressScrollX: false}" style="overflow: auto; height: calc(100vh - 11rem);" #messageArea>

            <div class="message rounded" style="overflow-wrap: break-word;" *ngFor="let msg of conversation" [ngClass]="{'user-bubble': msg.sender == user._id, 'other-user-bubble': msg.sender != user._id}">
                    <div class="mt-3 ml-3 mr-3 mb-0 rounded">
                    {{msg.text}}
                        <div class="text-secondary ml-auto text-small">{{msg.time | date: 'HH:mm dd MMM, yyyy'}}</div>
                    </div>
                    <div class="bg-white text-small" [ngClass]="{'text-success': msg.sender == user._id, 'text-secondary': msg.sender != user._id}"><span class="iconset icon-checkmark" *ngIf="msg.seen"></span>
                    </div>
            </div>

            <div class="text-center ml-auto mr-auto" style="transform: translate(0, 50%);" *ngIf="messageFlags.msgLoading">
                <loader2 [type]="2"></loader2>
                <br>
                Refreshing Conversation
            </div>

        </div>
        <div class="send-message-area w-100 d-flex bg-lite mt-2 d-block" style="border-top: solid 1px #CCC;">
            <input type="text" [(ngModel)]="message" class="overflow-none m-2 border-none form form-control circle mt-1" placeholder="Send a message..." />
            <div class="text-white text-center cursor-pointer" style="margin-left:2.5%; margin-top: 1%;" (click)="sendMessage()"><div class="iconset icon-paper-plane mt-2" style=" color: rgb(122, 122, 78);"></div></div>
        </div>
    </div>

    <div class="col-2 rounded" style="background: linear-gradient(#06F, green);" >

        <div class="mt-3">
            <div class="circle dp-xl bg-lite ml-auto mr-auto text-center m-3" (click)="routeToProfile()">
                <span class="iconset icon-player" style="font-size: 4rem;" *ngIf="!(chats[convoIndex]?.dpLink | async)"></span>
                <img [src]="(chats[convoIndex]?.dpLink | async)" alt="" class="h-100 w-100 circle" *ngIf="(chats[convoIndex]?.dpLink | async)">
            </div>

            <h3 class="text-white text-center hover-underline cursor-pointer" (click)="routeToProfile()">{{ otherUser?.username | async }}</h3>
        </div>
        
        <div *ngIf="messageFlags.userdataLoading">
            <loader2 [type]="2"></loader2>
        </div>
        <div *ngIf="!messageFlags.userdataLoading">
            <div class="d-flex" style="font-size: 3rem;">
                <div class="ml-auto text-center mr-auto iconset icon-{{type | playertype: true}} text-white" *ngFor="let type of otherUser?.playerType" title="{{ type | playertype | titlecase }}">
                </div>
            </div>
            
            <div *ngIf="otherUser?.nowplaying">
                <h6 class="text-secondary m-0 p-0">Playing</h6>
                {{ otherUser?.nowplaying.game }}
            </div>
            <div *ngIf="otherUser?.gamedata?.genres.length > 0">
                <h6 class="mt-3 text-white">Likes</h6>
                <span class="badge badge-info ml-1" *ngFor="let genre of otherUser?.gamedata?.genres">
                    {{ genre | gameGenre }}
                </span>
            </div>
        </div>

        <div class="convo-options mt-3 position-absolute text-center w-100 text-secondary3" style="bottom: 3rem;">
            <div class="badge badge-danger hover-underline cursor-pointer" (click)="convoOptions('delete')">
                <span class="iconset icon-bin ml-auto mr-auto"></span>
                &nbsp; Delete this conversation
            </div>
        </div>
        
    </div>
</div>