<div class="z-nav position-fixed" style="z-index: 9; top:0;">
    <navbar *ngIf="isLoggedIn" #navbar></navbar>
</div>


<div class="position-absolute" style="top: 10%; left: calc(50% - 12.5vw);" *ngIf="minimessage?.show">
    <sh-minimessage (fireMessage)="sendMessage($event)" [user]="minimessage?.userdata" (close)="closeMinimessage($event)"></sh-minimessage>
</div>

<sh-overlay 
[closeOnClick]="config.closeOnClick"
[transparent]="config.transparent"
*ngIf="showOverlay"
(click)="overlayClicked($event)"
></sh-overlay>

<sh-float-notification class="position-fixed r-0 float-size row mr-3 z-nav"
*ngIf="isNotifVisible"
[ngClass]="{'float-in': isNotifVisible}"
[config]="floatNotifConfig"
></sh-float-notification>

<div class="position-fixed w-100"style="bottom:0;">
    <sh-toast>    <!-- this component communicates via notification service-->
    </sh-toast>
</div>

<div class="mt-0" [ngClass]="{'mt-3rem': isLoggedIn}">
<router-outlet></router-outlet>
</div>