<div class="container position-relative" *ngIf="type===0">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <!-- <h2 class="loading-text text-center text-position position-absolute text-secondary">Now Loading</h2> -->
</div>

<div class="" *ngIf="type===2">
    <span class="iconset">&#xe986;</span>
</div>

<div *ngIf="type === 3">
    <div class="bg-secondary circle text-white d-inline-block" style="animation:rotate-right 1s linear infinite;">
        <span class="iconset icon-sh h2"></span>
    </div>
    
</div>