.user-suggestions-container {
    transform: translate(50%);
    min-width: 700px;
    margin-top: 3rem;
}

.user-card {
    min-height: 7rem;
    // width: 10rem;
}

.default-img {
    height: 6rem;
    width: 6rem;
    margin-left: 2rem;
}

.btn {
    border-radius: 0;
}