
@font-face {
    font-family: 'sh-icons';
    src: url('/../../assets/fonts/icomoon.woff');
    format:('opentype');
}
.icon-share:before {
    content: "\e900";
    // font-style: normal;
}
.icon-spawnhouse:before {
    content: "\e901";
}
.icon-tridots:before {
    content: "\e903";
}
.icon-home:before {
    content: "\e902";
}
.icon-pencil:before {
    content: "\e905";
}
.icon-pencil:before {
content: "\e905";
}
.icon-image:before {
content: "\e90d";
}
.icon-music:before {
content: "\e911";
}
.icon-film:before {
content: "\e913";
}
.icon-video-camera:before {
content: "\e914";
}
.icon-bullhorn:before {
content: "\e91a";
}
.icon-price-tags:before {
content: "\e936";
}
.icon-bell:before {
content: "\e951";
}
.icon-stopwatch:before {
content: "\e952";
}
.icon-display:before {
content: "\e956";
}
.icon-mobile:before {
content: "\e958";
}
.icon-bubbles:before {
content: "\e96f";
}
.icon-user:before {
content: "\e971";
}
.icon-users:before {
content: "\e972";
}
.icon-user-plus:before {
content: "\e973";
}
.icon-user-minus:before {
content: "\e974";
}
.icon-user-minus:before {
content: "\e974";
}
.icon-search:before {
content: "\e986";
}
.icon-zoom-in:before {
content: "\e987";
}
.icon-zoom-out:before {
content: "\e988";
}
.icon-cog:before {
content: "\e994";
}
.icon-fire:before {
content: "\e9a9";
}
.icon-bin:before {
content: "\e9ac";
}
.icon-target:before {
content: "\e9b3";
}
.icon-power:before {
content: "\e9b5";
}
.icon-switch:before {
content: "\e9b6";
}
.icon-earth:before {
content: "\e9ca";
}
.icon-eye:before {
content: "\e9ce";
}
.icon-eye-blocked:before {
content: "\e9d1";
}
.icon-bookmark:before {
content: "\e9d2";
}
.icon-star-full:before {
content: "\e9d9";
}
.icon-heart:before {
content: "\e9da";
}
.icon-heart-broken:before {
content: "\e9db";
}
.icon-blocked:before {
content: "\ea0e";
}
.icon-google:before {
content: "\ea8a";
}
.icon-facebook:before {
content: "\ea91";
}
.icon-instagram:before {
content: "\ea92";
}
.icon-whatsapp:before {
content: "\ea93";
}
.icon-telegram:before {
content: "\ea95";
}
.icon-twitter:before {
content: "\ea96";
}
.icon-appleinc:before {
content: "\eabe";
}
.icon-android:before {
content: "\eac0";
}
.icon-chrome:before {
content: "\ead9";
}
.icon-firefox:before {
content: "\eada";
}